<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V13</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/add/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/add/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/add/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/add/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/add/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/add/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/add/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/add/vendor/animsition/css/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="/add/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/add/vendor/daterangepicker/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="/add/css/util.css">
	<link rel="stylesheet" type="text/css" href="/add/css/main.css">

<style>
#title{
	color:white;
	position: relative;
	margin-left:25%;
	font-family: Arial, Helvetica, sans-serif;
	font-size:120px;
	margin-top: 20%;
}
#moto{
	position: relative;
	margin-left: 12%;
	color:black;
	margin-top: 1%;
	font-size: 40px;
	font-family: monospace;
}
#india{
	font-weight: 900;
	font-family: serif;
	color: darkslateblue
}
#description{
	color:floralwhite;
	font-size: 20px;
	margin-left:10%;
	letter-spacing: 11px;
}

</style>
</head>
<body style="background-color: #999999;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="login100-more" style="background-image: url('add/images/bg-01.jpg');">
			
			<h1 id="title">#TITLE#</h1>
			<p id="moto">SIMPLYFYING INDIA <span id="india">UPLIFTING INDIA</span></p>
			<p id="description">The  fastest  and  easiest  way  to  clear  your  challans  and  channelise  your  activites .</p>
			</div>
			

			<div class="wrap-login100 p-l-80 p-r-80 p-t-80 p-b-50">
				<form class="login100-form validate-form" action="/users/login" method="POST">
					<span class="login100-form-title p-b-59">
						LOG IN
					</span>

					<div class="wrap-input100 validate-input" data-validate="Name is required">
						<span class="label-input100">Full Name</span>
						<input class="input100" type="text" name="name" placeholder="Name...">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<span class="label-input100">Email</span>
						<input class="input100" type="text" name="email" placeholder="Email addess...">
						<span class="focus-input100"></span>
					</div>

		

					<div class="wrap-input100 validate-input" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="password" placeholder="*************">
						<span class="focus-input100"></span>
					</div>


				

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn col">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" type="submit">
								Sign in
							</button>
						</div>

						
					</div>
				</form>
			</div>
		</div>
	</div>
	
<!-- 
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>

	<script src="vendor/animsition/js/animsition.min.js"></script>

	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

	<script src="vendor/select2/select2.min.js"></script>

	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>

	<script src="vendor/countdowntime/countdowntime.js"></script>

	<script src="js/main.js"></script> -->

</body>
</html>