<% include ./partials/header %>

    <button><a href="/users/login">Login</a></button>
    <button><a href="/users/signup">Signup</a></button>
    <button><a href="/users/logout">Logout</a></button>

<% include ./partials/footer %>
